/*Title Section*/

#title {
    background-color: #ff4c68;
    font-family: 'Montserrat', sans-serif;
    padding: 3% 15%;
}

#title nav a.navbar-brand {
    font-size: 2.5rem;
    font-family: 'Ubuntu', sans-serif;
}

.row>div>h1 {
    font-weight: 900;
    color: #fff;
    font-size:3rem;
    margin-left: 0.3em;
}

.icon {
    margin-right: 5px;
}

.container-fluid {
    height: auto;
    min-height: 500px;
}

.buttons {
    margin: 1.5%;

}

.title-section {
    margin-top: 4%
}

.nav-item {
    padding: 0 1.5em ;
}

.dog-image {
    transform: rotate(30deg);
    position: absolute;
    width: 60%;   
    right: 32%
}

/*Features Section*/

#features {
    position: relative;
    z-index: 1;
    background-color: #fff;
    padding: 5% 15%;
}

#features div.col-lg-4 {
    text-align: center;
    font-size: 1rem;
}

#features div.col-lg-4 i {
    font-size: 4em;
    margin: 1.2rem 0;
    color: #ed5a70;
}

#features div.col-lg-4 i:hover {
    color: #ff7d7d;
}

.feature-boxes h3 {
    font-weight: 900;
    line-height: 1.2;
}

.feature-boxes p{
    font-size: 0.9rem;
    color: #c1c1c1;
}

/*Carousel Section*/

#testimonials {
    background-color: #FF4C68;
    text-align: center;
    color: #fff;
}

#testimonials h2 {
    text-align: center;
    font-size: 2.5rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
}

.carousel-item {
    padding: 7% 15%;
}

#testimonials img {
    height: 5rem;
    width: 5rem;
    border-radius: 100%;
}

/*Press Section*/

#press {
    background-color: #ff4c68;
    text-align: center;
    padding-top: 2.5rem;
}

#press img {
    padding: 20px;
    position: relative;
    width: 15%
}

/*Pricing Section*/

#pricing {
    padding: 7% 15%;
}

.card {
    text-align: center;
    margin-bottom: 1.5rem;
}
.card p {
    line-height: 1rem;
}
.card h2 {
    font-size: 3rem;
}

.center-text {
    text-align: center;
}

#pricing h2.center-text {
    font-size: 4rem;
    font-weight: 700;
}

#pricing p.center-text {
    font-size: 1.4rem;
    margin-bottom: 1.6em;
}

/*Call To Action Section*/

#cta {
    background-color: #ff4c68;
    text-align: center;
    padding: 7% 15%;
}

#cta h3 {
    font-size: 3.5rem;
    color: #fff;
}

#cta button{
    margin: 1.5rem 1.3rem;
}

#footer {
    padding: 7% 15%;
    text-align: center;
}
#footer p {
    margin-top: 1.8rem;
    color:#c1c1c1
}

#footer a {
    text-decoration: none;
    color: #000;
    margin: 1.5rem;
    transition-delay: 2s;
    transition-property: padding;
}

#footer a:hover {
    color: #ff4c68;
    
}

#footer a i:hover {
    border-radius: 100%;
    border: 1px solid #ff4c68;
    padding: 1rem;
}

@media(max-width: 1097px) {
    .dog-image {
        position: static;
        transform: rotate(0);
    }
    
    #title {
        text-align: center;
    }
    
    #title nav {
        text-align: left;
    }
    
    #features {
       position: static;
    }
}